.color{
    background-color: #970747 !important;
}
.color-btn{
    background-color: #FEF4E8 !important;
    border-color: black !important;
    color: #970747 !important;
    border-width: 3px !important;
}
.color-text{
    color: #FEF4E8 !important;
}
.color-text:hover{
    background-color: #970747 !important;
}
.col-btn{
    border-color: #FEF4E8!important;
    border-width: 3px !important;
}
h1{
    font-weight: 550 !important;
}